.content {
  border: none;
  padding: 0;
  height: 100%;
  background: white;
}

.content * {
  color: black;
}

h1 {
  font-size: 36px;
  font-weight: normal;
  float: left;
}

h2 {
  font-size: 24px;
  font-weight: normal;
}

h3 {
  font-size: 16px;
}

ul {
  margin: 5px 0;
}

li, p {
  font-size: 12px;
}

// Classes.


// For some reason both of these are necessary, i don't know why!!
.title {
  font-size: 14px;
}

.contact {
  font-size: 14px;
  text-align: right;
  float: right;
  margin-bottom: 35px;
}

.resume {
  clear: both;
}

.date-range,.title {
  font-size: 14px;
}

.web-only {
  display: none;
  height: 0;
}

.print-only {
  display: block;
}


