body {
  background-color: #42445B;
  margin: 0;
}

.content {
  border-left: solid 6px #75789C;
  border-right: solid 6px #75789C;
  min-height: 100%;
  margin: 0 auto;
  max-width: 800px;
  background-color: white;
  padding: 4em 3em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1 {
  color: #993436;
  font-size: 48px;
  margin: 0;
}

h2 {
  color: #D13B3D;
  font-size: 36px;
  margin: 20px 0;
}

h1, h2 {
  font-family: 'Grand Hotel', sans-serif;
}

h3 {
  color: #42445B;
  display: inline;
  padding: 20px 0;
}

p {
  color: #1A151C;
}

a {
  text-decoration: none;
  color: #993436;
}

a:hover, a:active {
  color: #D13B3D;
}

ul {
  margin: 5px 0;
}

li {
  font-size:90%;
}

// Classes.

.work-item {
  margin: 15px 0 5px;
  display: block;
}

.date-range {
  display: inline;
  float: right;
}

.title {
  color: #75789C;
  font-size=80%;
  font-weight: bold;
  display: block;
  padding: 5px 0;
}

.work-history#education div.work-item,h3 {
  padding-bottom: 0;
}

.work-history#education p {
  margin-top:0;
}

// Circular images.
.photos {
  text-align: center;
}

.photos img {
  max-width: 125px;
  border-radius: 50%;
}

// Links/contact info.
ul.links {
  list-style: none;
  padding-left: 0;
}
